<div class="d-flex gap-5 align-items-center p-5">
        <div class="leftSession p-1" style="max-width: 450px;">
            <div class="content d-flex flex-column gap-2">
                <div class="title d-flex gap-2">
                    <h2 class="fw-bold text-dark">Nike</h2>
                    <i class="fa fa-running fa-2x mt-1 text-dark" aria-hidden="true"></i>
                </div>
                <div class="title d-flex gap-4">
                    <i class="fa fa-cog mt-2 text-dark" aria-hidden="true"></i>
                    <div>
                        <p class="mb-1 fw-bold text-dark">Tailored Performance</p>
                        <p class="text-content">Our shoes effortlessly adapt to your movements, enhancing comfort and performance for every stride.</p>
                    </div>
                </div>
                <div class="title d-flex gap-4">
                    <i class="fa fa-wrench mt-2 text-dark" aria-hidden="true"></i>
                    <div>
                        <p class="mb-1 fw-bold text-dark">Built to Endure</p>
                        <p class="text-content">Experience exceptional durability that ensures your investment lasts through countless adventures.</p>
                    </div>
                </div>
                <div class="title d-flex gap-4">
                    <i class="fa fa-thumbs-up mt-2 text-dark" aria-hidden="true"></i>
                    <div>
                        <p class="mb-1 fw-bold text-dark">Exceptional User Experience</p>
                        <p class="text-content">Seamlessly integrate our footwear into your lifestyle with an intuitive design that prioritizes comfort and style.</p>
                    </div>
                </div>
                <div class="title d-flex gap-4">
                    <i class="fa fa-cog mt-2 text-dark" aria-hidden="true"></i>
                    <div>
                        <p class="mb-1 fw-bold text-dark">Innovative Features</p>
                        <p class="text-content">Stay ahead of the game with cutting-edge technology that meets your evolving needs, setting new standards in footwear.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="rightSession border rounded p-4 shadow " style="width: 450px;">
            <form method="post" class="p-2 d-flex flex-column justify-content-around gap-2" novalidate>
                <h1 class="text-dark">Sign in</h1>
                <div class="mb-3 ">
                    <label for="exampleInputEmail1" class="form-label">Email</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="your@email.com" name="email" required="off">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="******" name="password">
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Remember me</label>
                </div>

                <div class="alert alert-danger" style="display: none;">
                    Vui lòng nhập đầy đủ thông tin
                </div>

                {{#if err}}
                    <div class="alert alert-danger">
                        {{err}}
                    </div>
                {{/if}}

                <button type="submit" class="btn btn-dark w-100">Sign in</button>
                <p class="text-center mt-2 mb-0">Don't have an account? <a class="text-dark fw-bold" href="register">Sign up</a></p>
            </form>
        </div>
</div>

<script>
    const form = document.getElementsByTagName('form')[0]
    const alert = document.getElementsByClassName('alert')[0]

    form.addEventListener('submit', async function(e) {
        e.preventDefault()

        const email = document.getElementById('exampleInputEmail1')
        const password = document.getElementById('exampleInputPassword1')

        if(email.value == "" || password.value == ""){
            alert.style.display = 'block'
        }else if(!email.value.includes("@gmail.com")){
            alert.textContent = "Email vui lòng chứa @gmail.com"
            alert.style.display = 'block'
        }else if(password.value.length < 6){
            alert.textContent = "Mật khẩu phải chứa 6 kí tự trở lên"
            alert.style.display = 'block'
        }
        else{
            const data = {
                email: email.value,
                password: password.value
            }

            submitFormData(data)
        }
        
    })


    async function submitFormData(data){
        try{
            const response = await fetch('http://localhost:3000/login', {
                method: 'POST',
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify(data), 
                credentials: 'include'
            })
            if(response.ok){
                const result = await response.json()
                localStorage.setItem('toastMsg', result.msg)
                window.location.href = 'http://localhost:8080/';
            }else{
                const errorMessage = await response.json();
                alert.textContent = errorMessage.msg || 'Có lỗi xảy ra';
                alert.style.display = 'block';
            }
        }catch(error){
            console.error("Fetch error: ", error);
            alert.textContent = 'An error occurred. Please try again.';
            alert.style.display = 'block';
        }
    }
</script>